/** 
  * These variables must be in the same order as 
  * uswds-core/src/styles/settings/_index
  * 
  * AND also within each file
  */

  @use 'uswds-core' with (
    // GENERAL
    $theme-image-path: "/assets/uswds/img",
    $theme-show-notifications: false,

    // TYPOGRAPHY
    $theme-font-sans-custom-src: (
      dir: 'plus-jakarta-sans',
      roman: (100: false,
        200: false,
        300: false,
        400: 'PlusJakartaSans-Regular',
        500: false,
        600: false,
        700: 'PlusJakartaSans-Bold',
        800: false,
        900: false,
      ),
      italic: (100: false,
        200: false,
        300: false,
        400: 'PlusJakartaSans-Italic',
        500: false,
        600: false,
        700: 'PlusJakartaSans-BoldItalic',
        800: false,
        900: false,
      ),
    ),

    $theme-font-path: "/assets/uswds/fonts",

    $theme-typeface-tokens: (
      "plus-jakarta-sans": ("display-name": "Plus Jakarta Sans",
        "cap-height": 364px,
        "stack": "Public Sans, Helvetica, Arial, sans-serif",
      ),
    ),

    $theme-font-type-sans: "plus-jakarta-sans",
    $theme-font-role-heading: "sans",

    // 2 = 10px?
    // 3 = 14px
    // 4 = 15px
    // 8 = 20px
    // 9 = 22px
    // 15 = 48px
    // 17 = 64px

    $theme-type-scale-3xs: 2,
    $theme-type-scale-2xs: 3,
    $theme-type-scale-xs: 4,
    $theme-type-scale-sm: 5,
    $theme-type-scale-md: 8, // reset
    $theme-type-scale-lg: 9,
    $theme-type-scale-xl: 12,
    $theme-type-scale-2xl: 14,
    $theme-type-scale-3xl: 17, // reset

    // COLORS
    $theme-color-accent-warm-lightest: #FFF5EE,
    $theme-body-background-color: "accent-warm-lightest",
    
    // COMPONENTS

  
    // SPACING
  
    // UTILITIES
  );