/** 
  * These variables must be in the same order as 
  * uswds-core/src/styles/settings/_index
  * 
  * AND also within each file
  */

  @use 'uswds-core' with (
    // GENERAL
    $theme-image-path: "/assets/uswds/img",
    $theme-show-notifications: false,

    // TYPOGRAPHY
    $theme-font-path: "/assets/uswds/fonts",
    $theme-font-type-sans: "public-sans",

    // COLORS
    $theme-color-accent-warm-lightest: #FFF5EE,
    $theme-body-background-color: "accent-warm-lightest",
    
    // COMPONENTS

  
    // SPACING
  
    // UTILITIES
  );