@use "uswds-core" as *;

/**
 *
 * Header mods
 *
 **/

 .usa-banner__header-text {
  color: #fff;
 }

.usa-logo {
  padding-left: 1.5rem;
}

@include at-media($theme-header-min-width) {
  .usa-logo {
    margin-bottom: 2rem;
  } 
  .usa-header--basic .usa-nav {
    margin-bottom: 2.2rem;
  }
}

.usa-nav__primary > .usa-nav__primary-item {
  font-size: 1rem;
}

/**
 *
 * Main
 *
 **/

@include at-media($theme-header-min-width) {
  .usa-header + .usa-section, .usa-header + main {
    border-top: none;
  }
}

.usa-nav__secondary-links .usa-nav__secondary-item+.usa-nav__secondary-item {
  border-left-width: 0;
}

/**
 *
 * Footer
 *
 **/
 .usa-footer__primary-section,
 .usa-footer__secondary-section {
  @include set-text-and-bg("white");
 }

/**
 *
 * Hero
 *
 **/

.usa-hero__callout {
  &--inverse {
    background-color: color("white");

    @include at-media-max('tablet') {
      visibility: hidden;
    }

    @include at-media("tablet") {
      max-width: 25rem;
      @include u-margin-top(15);
      @include u-margin-bottom(10);
    }

    .usa-hero__heading {
      color: color("primary-darker");

      &--alt {
        color: color("primary-darker");
        font-size: 1.25rem;
      }
    }
  }

  &--mobile-only {
    @include at-media("tablet") {
      display: none;
    }
  
    .usa-hero__heading {
      color: color("white");
    }
  }
}